# PLAN_CODE is the code referring to a specific server
# Use bin/list.sh to obtain a PLAN_CODE
PLAN_CODE=22sk010

# DATACENTERS is a comma separated list of datacenters for which to check availability
# Allowed values: bhs, ca, de, fr, fra, gb, gra, lon, pl, rbx, sbg, waw
DATACENTERS=fr,gra,rbx,sbg

# COUNTRY is catalog's country to fetch server list from
# Allowed values: CZ, DE, ES, FI, FR, GB, IE, IT, LT, MA, NL, PL, PT, SN, TN
COUNTRY=FR

# OPSGENIE_API_KEY is used to send notification via OpsGenie
# OPSGENIE_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# TELEGRAM_CHAT_ID and TELEGRAM_BOT_TOKEN are used to send notification via Telegram
# TELEGRAM_BOT_TOKEN="xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# TELEGRAM_CHAT_ID="xxxxxxxxx"
