#####################
# Global parameters
#

# ENDPOINT is the OVH API endpoint to use
# The endpoint determines the region used
# Allowed values: ovh-eu, ovh-ca, ovh-us
# type=optional (default: ovh-eu)
#
# ENDPOINT=ovh-eu

# Enable debug mode
# type=optional
#
# DEBUG=true

###############################################
# Parameters for checking server availability
#

# PLAN_CODE is the code referring to a specific server
# Use bin/list.sh to list all available servers and their associated plan code
# type=required
#
PLAN_CODE=24ska01

# DATACENTERS is a comma separated list of datacenters for which to check the server's availability in
# Example values: bhs, ca, de, fr, fra, gb, gra, lon, pl, rbx, sbg, waw (non exhaustive list)
# type=optional (default to all datacenters)
#
# DATACENTERS=fr,gra,rbx,sbg

# OPSGENIE_API_KEY needs to be set in order to send availability notifications via OpsGenie
# Notifications are sent whenever a server is available
# Resources on how to get the value
# - https://support.atlassian.com/opsgenie/docs/api-key-management/
# - https://support.atlassian.com/opsgenie/docs/create-a-default-api-integration/
# type=optional
#
# OPSGENIE_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# TELEGRAM_CHAT_ID and TELEGRAM_BOT_TOKEN needs to be set in order to send availability notifications via Telegram
# Notifications are sent whenever a server is available
# Resources on how to get those values
# - https://core.telegram.org/bots/features#creating-a-new-bot
# - https://gist.github.com/nafiesl/4ad622f344cd1dc3bb1ecbe468ff9f8a#file-how_to_get_telegram_chat_id-md
# type=optional
#
# TELEGRAM_BOT_TOKEN="xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# TELEGRAM_CHAT_ID="xxxxxxxxx"

# HEALTHCHECKS_IO_UUID is used to ping after a successful check run whether the server is available or not
# This is meant for monitoring purposes
# type=optional
# HEALTHCHECKS_IO_UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# GOTIFY_URL will need to be the URL of your Gotify instance without trailing /and
# GOTIFY_APP_TOKEN is the token for the Gotify app you create for this notifier
# GOTIFY_PROIORITY is the priority of the message, default is 5.
# All 3 variables are required if you want to use Gotify.
#
# GOTIFY_URL=https:/gotify.local
# GOTIFY_TOKEN=TOKEN_HERE
# GOTIFY_PRIORITY=5



##################################
# Parameters for listing servers

# COUNTRY is catalog's country to fetch server list from
# This is required as OVH server list is different per country
# Countries are grouped by endpoint (or region) and each country has its own server list
# Allowed values:
#   ENDPOINT=ovh-eu: CZ, DE, ES, FI, FR, GB, IE, IT, LT, MA, NL, PL, PT, SN, TN"
#   ENDPOINT=ovh-ca: ASIA, AU, CA, IN, QC, SG, WE, WS"
#   ENDPOINT=ovh-us: US"
# type=required
#
COUNTRY=FR

# CATEGORY is catalog's category to filter server list
# Allowed values: kimsufi, soyoustart, rise, uncategorized
# type=optional (default to all categories)
#
# CATEGORY=kimsufi
