[Unit]
Description=kimsufi-notifier
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/kimsufi-notifier/env
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull theo01/kimsufi-notifier:latest
ExecStart=/usr/bin/docker run \
  --name %n \
  --rm \
  -v /etc/kimsufi-notifier/state:/state \
  theo01/kimsufi-notifier:latest \
  /app/kimsufi-notifier order \
  -w $HARDWARE \
  -s /state/kimsufi-order.png \
  -u $KIMSUFI_USER -p $KIMSUFI_PASS \
  --sms-user $SMS_USER --sms-pass $SMS_PASS
ExecStartPost=/bin/systemctl stop kimsufi-notifier.timer
ExecStartPost=/bin/systemctl disable kimsufi-notifier.timer
ExecStartPost=/bin/systemctl disable kimsufi-notifier.service
